<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lmsite.imghub.mapper.StorageEngineMapper">
    <resultMap id="BaseResultMap" type="cn.lmsite.imghub.entity.StorageEngine">
        <!--@mbg.generated-->
        <!--@Table storage_engine-->
        <id column="id" property="id"/>
        <result column="engine_name" property="engineName"/>
        <result column="engine_type" property="engineType"/>
        <result column="engine_domains" property="engineDomains"/>
        <result column="engine_ext_info" property="engineExtInfo"/>
        <result column="engine_statue" property="engineStatue"/>
        <result column="engine_ weight" property="engineWeight"/>
        <result column="allow_visitor" property="allowVisitor"/>
        <result column="other_info" property="otherInfo"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, engine_name, engine_type, engine_domains, engine_ext_info, engine_statue, `engine_ weight`,
        allow_visitor, other_info, gmt_create
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from storage_engine
        where id = #{id}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.lmsite.imghub.entity.StorageEngine" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into storage_engine (engine_name, engine_type, engine_domains, engine_ext_info, engine_statue,
        `engine_ weight`, allow_visitor, other_info, gmt_create)
        values (#{engineName}, #{engineType}, #{engineDomains}, #{engineExtInfo}, #{engineStatue},
        #{engineWeight}, #{allowVisitor}, #{otherInfo}, #{gmtCreate})
    </insert>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update storage_engine
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="engine_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.engineName}
                </foreach>
            </trim>
            <trim prefix="engine_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.engineType}
                </foreach>
            </trim>
            <trim prefix="engine_domains = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.engineDomains}
                </foreach>
            </trim>
            <trim prefix="engine_ext_info = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.engineExtInfo}
                </foreach>
            </trim>
            <trim prefix="engine_statue = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.engineStatue}
                </foreach>
            </trim>
            <trim prefix="`engine_ weight` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.engineWeight}
                </foreach>
            </trim>
            <trim prefix="allow_visitor = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.allowVisitor}
                </foreach>
            </trim>
            <trim prefix="other_info = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.otherInfo}
                </foreach>
            </trim>
            <trim prefix="gmt_create = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.gmtCreate}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into storage_engine
        (engine_name, engine_type, engine_domains, engine_ext_info, engine_statue, `engine_ weight`,
        allow_visitor, other_info, gmt_create)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.engineName}, #{item.engineType}, #{item.engineDomains}, #{item.engineExtInfo},
            #{item.engineStatue}, #{item.engineWeight}, #{item.allowVisitor}, #{item.otherInfo},
            #{item.gmtCreate})
        </foreach>
    </insert>
</mapper>